@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-rubik;
}

body {
  margin: 0;
}

.header_nav_container {
  max-height: 65px;
  margin: auto;
}

.header_heading {
  font-size: clamp(2.25rem, 1.3027rem + 4.0964vw, 4.375rem);
}

.header_paragraph {
  font-size: clamp(1.25rem, 1.0082rem + 1.0458vw, 2.25rem);
}

.header_heading_container {
  width: clamp(278px, 90%, 2300px);
  margin: auto;
}

.bg_image_meal {
  background: radial-gradient(
    circle at right top,
    transparent 70%,
    rgb(0 0 0 / 0.05)
  );
}

.bg_section_category {
  background: linear-gradient(
    180deg,
    rgba(255, 178, 56, 0.22) 0%,
    rgba(255, 178, 56, 0.22) 20%,
    rgba(253, 237, 202, 0) 100%
  );
}

.login_button:hover .login_icon {
  size: 30px;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin: auto;
  background-color: #fff;
  border-radius: 40px;
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
