@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-rubik;
}

body {
  margin: 0;
}

.header_nav_container {
  max-height: 65px;
  margin: auto;
}

.header_heading {
  font-size: clamp(2.25rem, 1.3027rem + 4.0964vw, 4.375rem);
}

.header_paragraph {
  font-size: clamp(1.25rem, 1.0082rem + 1.0458vw, 2.25rem);
}

.header_heading_container {
  width: clamp(278px, 90%, 2300px);
  margin: auto;
}

.bg_image_meal {
  background: radial-gradient(
    circle at right top,
    transparent 70%,
    rgb(0 0 0 / 0.05)
  );
}

.bg_section_category {
  background: linear-gradient(
    180deg,
    rgba(255, 178, 56, 0.22) 0%,
    rgba(255, 178, 56, 0.22) 20%,
    rgba(253, 237, 202, 0) 100%
  );
}

.bg_restaurant {
  background: linear-gradient(
    180deg,
    rgba(255, 178, 56, 0.15) 0%,
    rgba(255, 178, 56, 0.12) 20%,
    rgba(253, 237, 202, 0) 100%
  );
}

.bg_section_profile {
  background: linear-gradient(
    360deg,
    rgba(37, 158, 98, 0.05) 0%,
    rgba(153, 206, 101, 0.05) 25%,
    rgba(255, 178, 56, 0.05) 75%,
    rgba(248, 130, 64, 0.05) 100%
  );
}

.login_button:hover .login_icon {
  size: 30px;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin: auto;
  background-color: #fff;
  border-radius: 40px;
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.bg_profile_img {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.bg_profile_img::before {
  position: absolute;
  content: '';
  z-index: -1;
  top: -10px; /* Увеличьте отступ сверху */
  right: -10px; /* Увеличьте отступ справа */
  bottom: -10px; /* Увеличьте отступ снизу */
  left: -10px; /* Увеличьте отступ слева */
  background: linear-gradient(
    to right,
    rgba(37, 158, 98, 1) 0%,
    rgba(153, 206, 101, 1) 25%,
    rgba(255, 178, 56, 1) 75%,
    rgba(248, 130, 64, 1) 100%
  );
  border-radius: 50%; /* Убедитесь, что градиент также круглый */
}

.preloader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader_circle {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid;
  border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;

  border-radius: 50%;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  min-height: 38px;
  height: 100%;
  display: flex;
  align-items: center;
  outline: 2px solid;
  outline-color: transparent;
  transition: outline-color 0.3s ease;
  outline-offset: -2px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline-color: rgb(27, 117, 71);
  outline: 2px solid;
  outline-offset: -2px;
}

.heart_circuit {
  fill: rgb(27, 117, 71);
  transition: fill 0.1s linear;
}

.heart_filling {
  fill: rgb(27, 117, 71);
  opacity: 0%;
  transition: opacity 0.3s linear;
}

.heart_core {
  fill: rgb(27, 117, 71);
  opacity: 0%;
  transition: opacity 0.3s linear 0.03s;
}

.heart_dots {
  fill: #ff0000;
  opacity: 0%;
}

.like-icon:hover .heart_core {
  opacity: 100%;
  transition: opacity 0.3s linear;
}

.like-icon:hover .heart_filling {
  opacity: 100%;
  transition: opacity 0.3s linear 0.05s;
}

.like-icon:active .heart_core {
  fill: #ff0000;
  opacity: 100%;
  transition-delay: 0.03s;
}

.like-icon:active .heart_filling {
  fill: #ff0000;
  opacity: 100%;
}

.like-icon.is-liked .heart_filling {
  fill: #ff0000;
  opacity: 100%;
}

.like-icon.is-liked .heart_core {
  fill: #ff0000;
  opacity: 100%;
}

.like-icon.is-liked .heart_circuit {
  fill: #ff0000;
  transition: fill 0.3s linear 0.06s;
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes dots {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.like-icon.is-liked .heart {
  animation-name: heart;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .heart_dots {
  animation-name: dots;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  transform-origin: center;
}
